//colors
$promo-yellow: #fdf9c5;
$off-black: #363636;
$green: #0fca80;
$very-dark-orange: #df6200;
$dark-orange: #ce5b00;
$orange: #ff7100;
$off-white: #d5d5d5;
$white: #ffffff;
$grey: #f9f9f9;
$border-color: rgba(0, 0, 0, 0.1);

//text-sizes
$m-font: 14px;
$l-font: 16px;

//border-sizes
$border-radius: 3px;
$s-border: 1px;

//maring and padding
$s-mp: 0.4rem;

//breakpoint
$mobile-breakpoint: 45rem;
