//colors
$border-color: rgba(0, 0, 0, 0.1);
$dark-orange: #ce5b00;
$light-orange: #fff1e5;
$green: #0fca80;
$grey: #f9f9f9;
$off-black: #363636;
$off-white: #d5d5d5;
$orange: #ff7100;
$promo-yellow: #fdf9c5;
$very-dark-orange: #df6200;

//sizes
$fifth : 20%;
$quarter: 25%;
$third: 33%;
$half: 50%;
$full: 100%;

//text-sizes
$l-font: 16px;
$m-font: 14px;
$s-font: 12px;

//border-sizes
$round-border-radius: 3px;
$s-border: 1px;

//list-item sizes
$li-width: 695px;
$li-height: 120px;

//maring and padding
$l-mp: 5%;
$m-mp: 2%;
$s-mp: 0.4rem;
$xs-mp: 0.5%;

//other sizes
$xl-size: 7rem;
$l-size: 4rem;
$m-size: 3rem;
$s-size: 2rem;
$xs-size: 1rem;

//breakpoint
$mobile-breakpoint: 45rem;

//utils
.align-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.align-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin align-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
}

.align-right {
  align-items: initial;
}

.button-size {
  height: $l-size;
}

.background-none {
  background: none;
}

.border-bottom {
  border-bottom: $s-border solid $border-color;
}

.border-left {
  border-left: $s-border solid $border-color;
}

.white-text {
  color: white;
}

.white-text * {
  color: white;
}

.smallest-text {
  font-size: $s-font;
}

.smaller-text {
  font-size: $m-font;
}

.orange-text {
  color: $orange !important;
}

.orange-border {
  border-color: $orange !important;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.push-left {
  padding-left: $xs-size;
}

.margin-all-large {
  margin: $l-mp;
}

.margin-right-l {
  margin-right: $l-mp;
}

.margin-right-m {
  margin-right: $m-mp;
}

.margin-right-half {
  margin-right: 50%;
}

.margin-left {
  margin-left: $m-mp;
}

.margin-bottom-m {
  margin-bottom: $m-mp;
}

.margin-bottom-l {
  margin-bottom: $l-mp;
}

.margin-top-s {
  margin-top: $s-mp;
}

.margin-top-m {
  margin-top: $m-mp
}

.margin-top-bottom-l {
  margin: $l-mp 0
}


.block {
  display: block;
}

.visibility-hidden {
  visibility: hidden;
}

.width-half {
  width: 50%;
}

.width-full {
  width: 100%
}

.height-half {
  height: $half;
}

.height-full {
  height: $full;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.red-background {
  background: red;
}

@mixin full-height {
  height: 100%;
}

@mixin align-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  align-self: center;
}

.page {
  @include full-height();
  @include align-column();
}

@mixin white-container($width) {
  @include align-column;
  @include box-shadow;
  margin: $l-mp 0;
  padding: $m-mp;
  width: $width;
  background: white;
}

@mixin button($color, $height){
  align-items: center;
  justify-content: center;
  background: $color;
  color: white;
  display: flex;
  height: $height;
  padding: $s-mp;
  &:hover {
    background: darken($color, 10%);
  }
  @if $color == $off-white {
    color: $off-black;
  } 
  @if $color == white {
    color: $off-black;
  }
}

.button__off-white {
  @include button($off-white, auto)
}

@mixin field-box {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ccc;
  color: #999;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  height: 40px;
  justify-content: space-between;
  line-height: 1.0625rem;
  margin-top: 5px;
  min-width: 120px;
  padding: $s-mp;
  width: auto;
}

@mixin box-shadow {
  box-shadow: 0 5px 6px 0 $border-color;
}

@mixin full-row {
  width: $full;
  @include align-row;
}

.full-row {
  width: $full;
  @include align-row;
}