#faivoriteSvgContainer {
  background: white;
  border-radius: $half;
  position: absolute;
  margin: $xs-mp;
    width: 20%;
    height: 42%;
    z-index: 1;
    #faivoriteSvg {
    width: 80%;
    margin: 12%;
    position: absolute;
    filter: invert(48%) sepia(28%) saturate(4771%) hue-rotate(1deg) brightness(103%) contrast(107%);
    }
}
