* {
  box-sizing: border-box;
}

html {
  height: $full;
  box-sizing: inherit;
}
html,
body,
#app,
#app > div {
  height: $full;
}
body {
  height: $full;
  color: $off-black;
  direction: rtl;
  display: flex;
  font: $l-font Rubik, sans-serif;
  background: $grey;
}

button {
  cursor: pointer;
  border: none;
  @include button($orange, $m-size);
  &:focus {
    outline: 0;
  }
  &:disabled {
    cursor: default;
  }
}
::placeholder {
  color: $off-white;
}

a {
  text-decoration: none;
}
