.sign-up--form {
  @include white-container($third);
  #updateFieldContainer {
    @include align-row
  }
  #signUpButtonContainer{
    display: flex;
    justify-content: center;
    margin-top: $m-mp;
  }
  form {
    width: $full;
  }
  p {
    color: red;
    text-align: center;
  }
  span {
    margin-left: $l-mp;
    white-space: nowrap;
  }
  input {
    @include field-box;
    width: $half;
  }
}
