#userListingsButtons {
    #deleteDialogContainer{
        @include button($orange, $half);
        padding: 0;
    }
    & > button {
        @include button($off-white, $half)
    }
    .MuiButtonBase-root{
        font: inherit;
        padding: $xs-mp;
    }
}