.user-page {
    @include white-container($third);
    #userField {
        @include align-row;    
        display: flex;
        justify-content: space-between;
        margin: $l-mp 0;
        width: $full;
    }
    #userDetailsFormContainer {
        width: $full;        
        display: flex;
        flex-direction: column;
        h1 {
            @include align-column;
        }
    }
    #userDetailsTopContainer{
        @include align-row;
        justify-content: space-between;
    }
    button {
        @include button($off-white, auto);
        width: auto;
    }
    .MuiPaper-root {
        position: absolute;
    }
    .MuiButtonBase-root {
        border-radius: 0;
        height: auto;
        font: inherit;
    }
}
