#updateFormContainer {
    @include white-container($third);
    form {
        @include align-column;
        width: $full;
    }
    div {
        width: $full;
        @include align-row;
    }
    input {
        @include field-box;
    }
    button {
        margin-top: $l-mp;
        @include button($orange, $s-size)
    }
}

.error-message-container {
    position: absolute;
    align-self: flex-end;
    color: red;
}