.user-page {
    @include white-container($third);
    #userField {
        @include align-row;    
        display: flex;
        justify-content: space-between;
        margin: $l-mp 0;
        width: $full;
    }
    #userDetailsFormContainer {
        width: $full;        
        display: flex;
        flex-direction: column;
        h1 {
            @include align-column;
        }
    }
    button {
        @include button($off-white, $s-size);
    }
}