//list
.listing-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

//main container
.record-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $promo-yellow;
  height: 87px;
  width: 695px;
  border: $s-border solid $border-color !important;
  border-radius: $s-border;
  &:hover {
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
    .img-icon-container {
      background: transparentize($off-black, 0.15);
      color: transparentize($off-black, 0.15);
      position: absolute;
      border-radius: 30%;
      width: 45px;
      height: 35px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      ::selection {
        color: none;
        background: none;
      }
    }
    .img-icon {
      position: absolute;
      background: white;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      border: black 1px solid;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      width: 24px;
      height: 18px;
      top: 50%;
      left: 50%;
    }
    .img-icon::before {
      background-color: white;
      border: black 1px solid;
      width: 24px;
      height: 18px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      position: absolute;
      top: 10%;
      left: 10%;
      content: "";
      z-index: -1;
    }
    img {
      transform: scale(1.1);
    }
  }
  img {
    width: 110px;
    border-radius: $border-radius;
  }
  cursor: pointer;
  border: none;
  &:focus {
    outline: 0;
  }
  &:disabled {
    cursor: default;
  }
}

//closed record styles
.record__inside-container {
  align-items: flex-start baseline;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 215px;
  justify-content: center;
  padding: 0 $s-mp;
  border-left: $s-border solid $border-color;
  border-right: $s-border solid $border-color;
  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.middle-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  width: 186px;
  padding: 0;
  div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      font-weight: 300;
    }
  }
}

.left-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

//open record styles
.record-container__open {
  height: 120px;
  img {
    height: 100%;
    width: 165px;
  }
}

.open-details--middle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

//utils
.smaller-text {
  font-size: $m-font;
}

.align-cloumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-container {
  overflow: hidden;
  position: relative;
  height: 80%;
  border-radius: $border-radius;
  margin-right: $s-mp;
  margin-left: $s-mp;
}

.phone-button {
  color: white;
  background: $green;
  height: 2rem;
  width: 10rem;
  &:hover {
    background: darken($green, 10%);
  }
}

.phone-dropdown {
  background: white;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  flex-direction: column;
  align-items: center;
}