.list__nav-bar {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  list-style: none;
}

.right-list {
  margin: 0;
  padding: 0;
}

//main-nav-bar
.main-nav-bar--container {
  align-items: center;
  background: $orange;
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;
  @media (max-width: $mobile-breakpoint) {
    height: $s-size;
  }
}

.main-nav-bar-button {
  background: $orange;
  color: white;
  height: 4rem;
&:hover {
  background: $dark-orange;
}

  &:hover ~div{
        display: block;
  }
}

.main-nav-bar-button:hover .dropdown {
  display: block;
}

.add-post-button {
  border-right: 0.1px solid $very-dark-orange;
}

.main-nav-bar--image {
  background: $orange;
  justify-content: flex-end;
}

//secondary-nav-bar
.secondary-nav-bar--container {
  align-items: center;
  background: white;
  box-shadow: 0 5px 6px 0 $border-color;
  display: flex;
  height: $m-size;
  justify-content: space-between;
  margin: 0; 
  @media (max-width: $mobile-breakpoint) {
    visibility: hidden;
  }
}

.secondary-nav-bar-button {
  background: white;
  color: $off-black;
  height: $m-size;
  &:hover{
      background: $off-white;
  }
}

.dropdown {
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  min-width: 160px;
  padding: 12px 16px;
  position: absolute;
}