#newListingContainer {
  @include white-container($third);
  form {
    @include align-column;
    width: $full;
  }
  div {
    width: $full;
    @include align-row;
  }
  #uploadMedia {
    @include field-box;
    &:hover {
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
  input {
    @include field-box;
  }
  textarea {
    @include field-box;
    width: 0;
  }
  button {
    margin-top: $l-mp;
    @include button($orange, $s-size);
  }
  label {
    width: $quarter;
  }
}

#newListingForm {
  label {
    width: $quarter;
  }
}
