.list-style-none {
  list-style: none;
  padding: $xs-mp $l-mp;
  flex-wrap: wrap;
}

.checkbox__list-item {
  list-style: none;
  // width: $quarter;
  margin: $m-mp;
  @include flex-row;
  align-items: center;
  // @include align-row;
  label {
    white-space: nowrap;
  }
}

