.checkbox__list-col {
  @include align-column;
  overflow: hidden;
  list-style: none;
  padding-right: $s-mp;
}

.checkbox__list-item {
  list-style: none;
  width: $quarter;
}

.checkbox__input {
  margin-left: $s-mp;
}

.checkbox {
  margin-left: $s-mp;
}
