.list__nav-bar {
  align-items: center;
  display: flex;
  height: $full;
  justify-content: space-between;
  list-style: none;
}

.right-list {
  margin: 0;
  padding: 0;
}

//main-nav-bar
.main-nav-bar--container {
  align-items: center;
  background: $orange;
  @include flex-row;
  height: $l-size;
  justify-content: space-between;
  width: $full;
}

.main-nav-bar-button {
  @include button($orange, 4rem);
  &:hover ~ div {
    display: block;
  }
}

.main-nav-bar-button:hover .dropdown {
  display: block;
}

.add-post-button {
  border-right: 0.1px solid $very-dark-orange;
}

.main-nav-bar--image {
  background: $orange;
  justify-content: flex-end;
}

//secondary-nav-bar
.secondary-nav-bar--container {
  align-items: center;
  background: white;
  box-shadow: 0 5px 6px 0 $border-color;
  display: flex;
  height: $m-size;
  justify-content: space-between;
  margin: 0;
}

.secondary-nav-bar-button {
  @include button(white, $m-size);
  background: white;
  color: $off-black;
  height: $m-size;
  &:hover {
    background: $off-white;
  }
}
