#newListingContainer {
  @include white-container($half);
  form {
    @include align-column;
    width: $full;
  }
  div {
    
    width: $full;
    @include align-row;

    #newListingsSelectField {
      @include field-box;
      width: $third;
    }
    .new-listings-select-field {
      @include field-box;
      width: $third;
    }

    #newListingCityAutoComplete {
      width: $third;
    }
    textarea {
      width: auto;
    }
  }
  #uploadMedia {
    @include field-box;
    &:hover {
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
  input {
    @include field-box;
  }
  textarea {
    @include field-box;
    width: 0;
  }
  button {
    @include button($orange, $s-size);
  }
  label {
    width: $quarter;
  }
  #submitButton {
    margin-top: $l-mp;
  }
}

#newListingForm {
  label {
    width: $quarter;
  }
}

#newListingEntranceDateContainer {
  white-space: nowrap;
  .MuiInputBase-root {
    flex-direction: row-reverse;
  }
  .MuiInputBase-input {
    width: $third;
  }
}
