//closed record styles
.record__inside-container {
  display: flex;
  flex-direction: column;
  height: $full;
  justify-content: center;
  width: $quarter;
  // padding: 0 $s-mp;
  border-left: $s-border solid $border-color;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.middle-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: $full;
  // width: $full;
  justify-content: space-evenly;
  div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      font-weight: 300;
    }
  }
}

.left-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin: 0 $m-mp;
}
