//list
.listing-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;  
}

//main container
.record-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $promo-yellow;
  height: 87px;
  width: $li-size;
  border: $s-border solid $border-color !important;
  border-radius: $s-border;
  &:hover {
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
    .img-icon-container {
      background: transparentize($off-black, 0.15);
      color: transparentize($off-black, 0.15);
      position: absolute;
      border-radius: 30%;
      width: 45px;
      height: 35px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      ::selection {
        color: none;
        background: none;
      }
    }
    .img-icon {
      -moz-border-radius: 2px;
      -ms-transform: translate(-50%, -50%);
      -webkit-border-radius: 2px;
      background: white;
      border-radius: 2px;
      border: black 1px solid;
      height: 18px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
    }
    .img-icon::before {
      background-color: white;
      border: black 1px solid;
      width: 24px;
      height: 18px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      position: absolute;
      top: 10%;
      left: 10%;
      content: "";
      z-index: -1;
    }
    img {
      transform: scale(1.1);
    }
  }
  img {
    width: 110px;
    border-radius: $round-border-radius;
  }
  cursor: pointer;
  border: none;
  &:focus {
    outline: 0;
  }
  &:disabled {
    cursor: default;
  }
}