.filters__basic-container {
  background: white;
  box-shadow: 0 5px 6px 0 $border-color;
  height: $l-size;
  margin: $s-mp 0 0 0;
  border-bottom: $s-border solid $border-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: $s-mp;
  & span {
    color: $orange;
    cursor: pointer;
    text-decoration-color: $orange;
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }
}

.filters--fields-container {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: $s-mp;
}

.filters--field-container {
  margin-left: $m-mp;
  height: auto;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-around;
}

.filters--advanced-search-button {
  &:hover {
    background: $off-white;
  }
}


.filters__field-box-container {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ccc;
  color: #999;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  height: 40px;
  justify-content: space-between;
  line-height: 1.0625rem;
  margin-top: 5px;
  min-width: 120px;
  padding: $s-mp;
  width: auto;
}

//Asset type selector
.filters__asset-type--dropdown {
  align-items: center;
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  min-width: 160px;
  padding: 0;
  position: absolute;
  z-index: 2;
}



//Rooms selector
.filters__rooms-container {
  // -webkit-box-align: center;
  // -webkit-box-direction: normal;
  // -webkit-box-orient: horizontal;
  // -webkit-box-pack: justify;
  align-items: center;
  background-color: #fff;
  border-left: $s-border solid $border-color;
  color: #999;
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  height: 40px;
  justify-content: space-between;
  line-height: 1.0625rem;
  margin-top: 5px;
  min-width: 100px;
  padding: 0 10px 0 5px;
  width: 100%;
}

.filters__rooms-dropdown-container {
  align-items: center;
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: row;
  padding: $m-mp;
  position: absolute;
  z-index: 2;
}

.filters__rooms-picker-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: visible;
  width: 60px;
  padding: $s-mp;
  height: 100%;
  border-radius: $round-border-radius;
  border: 1px solid #ccc;
  margin-top: $s-mp;
}

//Price selector
.filters__price-container {
  
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  height: 100%;
  line-height: 1.0625rem;
  margin-top: 5px;
  min-width: 170px;
}

.filters__price-inner-container {
  outline: none;
  width:100%;
  height: 100%;
  border-radius: $round-border-radius;
  border: 1px solid #ccc;
  padding: $s-mp;

}


.filters__advanced-dropdown-container {
  background: white;
  box-shadow: 0 5px 6px 0 $border-color;
  display: flex;
  flex-direction: column;
  padding: 3% 7% 0 7%;
}

.filters__advanced--asset-attributes {
  padding: $m-mp;
  display: flex;
  flex-direction: column;
  align-items: right;
}