 //details-dropdown
 .dropdown {
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  padding: $s-mp $m-mp;
  position: absolute;
  &:hover {
    display: flex;
  }
}

 .details-button {
    background: $green;
    color: white;
    height: $s-size;
    width: $full;
    white-space: nowrap;
    &:hover {
      background: darken($green, 10%);
    }
  }

  .display-none{
    display: none;
  }
  
  .details__dropdown {
    align-items: center;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    // display: none;
    display: flex;
    flex-direction: column;
    padding: $s-mp $m-mp;
    position: absolute;
  }
  
  .details__dropdown-tab {
    align-items: center;
    border-bottom: $s-border solid $border-color;
    display: flex;
    height: $m-size;
    justify-content: center;
    width: $full;
  }