//open record styles

.open-listing--middle-container {
  @include flex-column;;
  justify-content: space-between;
  margin-left: auto;
}

.img-container-root {
  border-radius: $round-border-radius;
  margin-left: $s-mp;
  margin-right: $s-mp;
  position: relative;
  margin: $s-mp;
  // width: auto;
}

//details
.details--table {
  @include flex-column;;
  justify-content: flex-start;
  width: $full;
}

.details--table-row {
  align-items: flex-start;
  @include flex-row;
  width: $full;
}

.details--table-data {
  margin-left: $s-size;
}

//footer
.open-listing--footer {
  align-items: center;
  background: white;
  border: $s-border solid $border-color;
  @include flex-row;
  height: $s-size;
  justify-content: space-evenly;
 }
